<section
    id="inicio"
    class="relative pt-32 pb-28 flex items-center justify-center min-h-[600px] bg-cover bg-center bg-no-repeat"
    style="background-image: url('https://images.unsplash.com/photo-1620712943543-bcc4688e7485?q=80&w=1920&auto=format&fit=crop');"
    data-aos="fade"
>
    <div
        class="absolute inset-0 bg-black/60 bg-gradient-to-b from-[#221965]/80 to-[#4D40AC]/80"
    >
    </div>

    <div
        class="relative z-10 max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center text-[#F4F5F0]"
    >
        <h1
            class="text-4xl md:text-6xl font-bold mb-6 drop-shadow-md"
            data-i18n="hero.title"
        >
            Hackathon de IA
        </h1>

        <p
            class="text-xl md:text-2xl mb-10 font-light text-gray-100 italic"
            data-i18n="hero.desc"
        >
            el hackathon de inteligencia artificial donde podrás ganar
            currículum, aprender de expertos y hacer contactos con personas del
            sector.
        </p>

        <div class="flex flex-col sm:flex-row justify-center gap-4">
            <a
                href=""
                target="_blank"
                class="bg-[#F4F5F0] text-[#4D40AC] hover:bg-[#EAEAEA] px-8 py-3 rounded-lg font-bold shadow-lg transition transform hover:-translate-y-1"
                data-i18n="hero.btn.register"
            >
                Inscricion cerrada
            </a>

            <a
                href="#que-es"
                class="border-2 border-[#F4F5F0] text-[#F4F5F0] hover:bg-[#F4F5F0] hover:text-[#4D40AC] px-8 py-3 rounded-lg font-bold transition transform hover:-translate-y-1"
                data-i18n="hero.btn.date"
            >
                14-16 de abril
            </a>
        </div>
    </div>
</section>
